#logout {
    border: none;
    background-color: red;
    color: #111111;
    border-radius: 10px;
    padding: 10px 15px;
    position: absolute;
    top: 100px;
    right: 55px;
    display: none;
    font-weight: 600;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100%;
}

.navbar {
    display: flex;
    padding: 12px 120px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #555;
}
.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.quizs {
    margin: auto;
    margin-top: 40px;
    width: 90%;
    height: 60vh;
}

.quizs h1 {
    font-size: 50px;
}

.progress-bar-container {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 20px 0;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: rgb(253, 192, 79);
    transition: width 0.3s ease-in-out;
}


.questions {
    margin-left: 10px;
}

.text {
    font-size: 25px;
    color: #555;
}

.options {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 25px;
}

li {
    list-style-type: none;
    max-width: max-content;
}

.option {
    margin: 20px 0;
    color: black;
    cursor: pointer;
}
.option:hover{
    background-color: rgb(253, 192, 79);
    width:fit-content;
    
}

.option.selected {
    background-color: rgb(60, 199, 42);
    width:fit-content;
    color: white;
}

.option span {
    font-weight: bold;
}

.next-btn {
    width: 100%;
    font-size: 35px;
    margin-top: 50px;
    color: blue;
    display: flex;
    cursor: pointer;
}

.previous-button {
    position: relative;
    color: #555;
    display: none;
}

.next-button {
    position: relative;
    left: 70%;
}
.right-arrow, .left-arrow{
    font-size: 50px;
    position: relative;
    top: 5px;
}