* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;

}


.main {
    height: 891px;
}

nav {
    height: 72px;
    display: flex;
    padding: 12px 70px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 40px;
}

.navbar-img img {
    width: 198px;
    height: 24px;
    cursor: pointer;
}

.profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile span {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;


}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 200px;
    box-shadow: 0px 2px 4px 0px #00000040;
    cursor: pointer
}



.start-quiz {
    height: 819px;
    margin: auto 50px;

}

.quiz-head {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
}

.quiz-head h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;


}

.quiz-head span,
li {
    color: #8E8E93;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: 0%;


}

.quiz-head img {
    width: 12px;
    height: 12px;
    padding-right: 5px;
}

.middle-section {
    margin: auto;
    margin-top: 30px;
    width: 1190px;
    height: 560px;
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
}

.middle-section img {
    width: 1132px;
    height: 265px;
    border-radius: 12.17px;
    margin-bottom: 20px;

}

.middle-section h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0%;
    margin-bottom: 10px;
}




.middle-section p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    color: #8E8E93;
    margin-bottom: 20px;
}

.middle-section button {
    width: 360px;
    height: 43px;
    padding: 12px 24px;
    border: none;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    background: #F3BD00;
    cursor: pointer;

}

#logout {
    border: none;
    background-color: red;
    color: #111111;
    border-radius: 10px;
    padding: 10px 15px;
    position: absolute;
    top: 100px;
    right: 55px;
    display: none;
    font-weight: 600;
    
}

/* form */
.form-container {
    display: flex;
    gap: 15px;
    max-width: 1120px;
    margin: 30px auto;
}

.form-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
}

label {
    display: flex;
    align-items: start;
    font-size: 14px;
    margin-bottom: 5px;
}

label span {
    color: red;
}

input {
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    color: #888;
}

/* form */


.name{
    font-size: 16px;
}